body {
  font-family: Arial;
  background-color: whitesmoke;
  width:100%;
  margin: 0 ;
  height:100vh;

}
* {
    box-sizing: border-box;
}

.container {
   
  height:100vh;
  width:100%;
} 

.split {
  position: fixed;
  overflow-x: hidden;
  height:100%;
  margin-left:-23px;
  
}

.left {
  left: 0;
  width:30%;
  overflow-x: hidden;
  background-color: lightgray;
 
}
.jobs {
   
  overflow-y: scroll;
  max-height: 850px;
}
.right {
  right: 0;
  width:70%;
  background-color: lavender;
  
}

.arrow {
  color: white;
  background-color: dodgerblue;
  float:right;
  width:5%;
  display:none;
}

#rightside {
  display: none;
}

input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: dodgerblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  margin-right:5px;
}

input[type=submit] {
  background-color: dodgerblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin:0px 0px 15px 10px;
}

input[type=submit]:hover {
  opacity: 0.8;
}

.icon {
color:dodgerblue;
float:right;
position:relative;
top: -29px;
right: 10px;
}

.col-25 {
  float: left;
  width: 20%;
  margin-top: 20px;
  margin-left:20px;
}

.col-75 {
  float: left;
  width: 60%;
  margin-top: 20px;
}
.col-20 {
  float: left;
  width: 20%;
  margin-top: 20px;
  margin-left:20px;
}

.col-60 {
  float: left;
  width: 40%;
  margin-top: 20px;
}

.card {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding:10px;
  margin-top:1px;
  margin-left:25px;
 }

.row1 {
  height: 95vh;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
button {
  padding : 14px 20px;
}
.button {
  background-color: dodgerblue;
  color: white;
  width: 45%;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin:0px 20px 15px 0px;
}

.header {
 
  background: #ccc;
  color: dodgerblue;
  text-align: center;
  height:40%;
}

.content {
  /* padding: 16px; */
  color: black;
  overflow-y: scroll;
  height:60%;
 
}

@media (max-width:320px){ 
      .col-xs-12 {
          width: 100%;
        }
        .col-xs-height{
          width: 100%; 
          }
    }

@media (min-width:321px) and (max-width:1167px){
      .col-md-12 {
          width: 100%;   
           
        }
        .col-sm-6 {
          width: 100%;
           
      }
    }

@media (max-width:600px) {
  .right {
      width: 100%;
      display:none;
     
  }
  .left {
      width:100%;
  }
  .arrow {
    display:block;
  }
}

@media (min-width:601px) and (max-width:1367px) {
  .right {
      width :70%;
  }
  .left {
      width:30%;
  }
}
    