.main {
    height: 100%;
    position: fixed;
    top: 0;
    overflow-x: hidden; 
    padding-top: 20px;   
}

.split {
    height: 100%;
    position: fixed;
    top: 0;
    overflow-x: hidden; 
    padding-top: 20px;
  }
  
  .left {
    width:30%;
  left: 0;
  background-color: #290783;
}

.right {
   width:70%;
  right: 0;
  background-color:#7986CB ;
}
.left input[type=text] {
    font-size: 20px;
    position:relative;
    background-color:whitesmoke;
    margin:5px;
    width: 50%;
    float:left;
    padding: 14px;
    margin-left:10px;
    border: 1px solid #ccc;
    resize: vertical;
    border-radius: 4px;
  }

  .left button , .right button{
    /* width:15%; */
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #3E0AC7;
    border: none;
    padding: 14px 20px;
    display: inline-block;
    font-size: 20px;
    margin: 8px 16px;
    cursor: pointer;
  }
  .right button {
    font-weight: bold;
    float: right;
  }
  textarea {
    font-size:20px;
    background-color:whitesmoke;
    margin-top:10px;
    margin-left:20px;
    width:90%;
    height:77%;
    left:10px;
    padding: 30px;
    resize: none
  }

.bottom {
    margin-left:10px;
    margin-top: 10px;
    background-color:#290783;
}
  .scroll{
    overflow-y: scroll; 
    height: 720px;
    margin-right:10px;
    background-color:whitesmoke;
  }

.icon {
    color: white;
    position:relative;
    right:0px;

}
  @media (max-width: 600px) {
    .my-content { 
        display: none; 
    }   /* hide it elsewhere */

    .left {
        width:100%;
    }
    
  }
  ul {
    list-style-type: none;
    padding-inline-start: 0px;    
    margin-top: 0px;
    margin-bottom:0px;

  }
  ul li {
    color:blue;
    font-weight: bold;
    font-size:20px;
    background-color: lightgray ;
    list-style-position: inside;
    padding:24px;
    left:0px;
    height: 100px;
    border-bottom: 1px solid grey;
    overflow-x: hidden;
  }